/* Null styles */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, article, section, main {
  display: block;
}

html, body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  background-color: unset;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* Fonts */
@font-face {
  font-family: "Glyphter";
  src: url("/src/fonts/Glyphter.eot");
  src: url("/src/fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("/src/fonts/Glyphter.woff") format("woff"), url("/src/fonts/Glyphter.ttf") format("truetype"), url("/src/fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class*=icon-]:before {
  display: inline-block;
  font-family: "Glyphter";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "A";
}
.icon-head:before {
  content: "B";
}
.icon-wallet:before {
  content: "C";
}
.icon-file:before {
  content: "D";
}
.icon-chat:before {
  content: "E";
}
.icon-clock:before {
  content: "F";
}
.icon-stop:before {
  content: "G";
}
.icon-sand-clock:before {
  content: "H";
}
.icon-check:before {
  content: "I";
}
.icon-arrow:before {
  content: "J";
}

/* Colors */
:root {
  --main-black: #21232A;
  --main-black-muted: #21232A50;
  --black: #000000;
  --black-muted: #00000050;
  --main-blue: #2563EB;
  --text-white: #E5E5E5;
  --text-gray: #9B99A7;
  --text-gray-light: #9CA3AF;
  --bg-gray: #fbfbfb;
  --white: #ffffff;
  --icon-gray: #787878;
}

/* Layouts */
.page {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper {
  max-width: 144rem;
  padding: 5rem 6rem;
  margin: 0 auto;
  background-color: #FBFBFB;
}
.wrapper--10 {
  max-width: 112rem;
  padding: 5rem 6rem;
  margin: 0 auto;
}
.wrapper--dark {
  background-color: var(--main-black);
}
.wrapper--gray {
  background-color: var(--bg-gray);
}
.wrapper-t--2 {
  padding-top: 2rem;
}
.wrapper-t--12 {
  padding-top: 12rem;
}

.grid--2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.pt-2 {
  padding-top: 2rem;
}
.pt-4 {
  padding-top: 4rem;
}
.pt-10 {
  padding-top: 10rem;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 2rem 2rem 4.4rem;
  }
  .wrapper--10 {
    padding: 1.6rem 2rem 4.4rem;
  }
  .wrapper-t--12 {
    padding-top: 4rem;
  }
  .grid--2 {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }
  .pt-2 {
    padding-top: 0;
  }
  .pt-10 {
    padding-top: 6rem;
  }
}
/* Buttons */
.button-black {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  height: 4.8rem;
  border-radius: 0.8rem;
  padding: 1.1rem 3rem;
  background-color: var(--main-black);
  color: var(--text-white);
  border: 0.2rem solid var(--main-black);
  font-size: 1.8rem;
  transition: all ease 0.3s;
}

@media (min-width: 1024px) {
  .button-black:hover {
    background-color: var(--white);
    color: var(--main-black);
  }
}
@media (min-width: 1024px) {
  .button-black {
    width: 100%;
    max-width: 40rem;
    justify-content: center;
  }
}
/* Banner */
.banner img {
  width: 100%;
}

/* Header */
.header {
  display: flex;
  gap: 2.8rem;
  padding: 3.6rem 6rem;
  align-items: center;
  background-color: var(--white);
}
.header__logo {
  width: 21rem;
  display: inline-block;
  transition: color ease 0.3s;
}
.header__logo svg {
  width: 100%;
}
.header__logo svg path {
  transition: fill ease 0.3s;
}
.header__burger {
  height: 100%;
  aspect-ratio: 1/1;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.4rem 2.2rem;
}
.header__burger span {
  height: 2px;
  background-color: var(--main-black);
  width: 100%;
}
.header__burger span:nth-child(2) {
  width: calc(100% - 1rem);
}
.header__burger span:nth-child(3) {
  width: calc(100% - 0.5rem);
}
.header__nav {
  margin-left: auto;
}
.header__nav-wrapper {
  width: 100%;
}
.header__nav-background {
  display: none;
  width: 100%;
  flex: 1 1 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
}
.header__nav-content {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 2.8rem;
}
.header__nav-link {
  font-size: 2rem;
  line-height: 1;
  color: var(--black);
  transition: color ease 0.3s;
}
.header__btn {
  padding: 1.2rem 1.4rem;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--black-muted);
  transition: color ease 0.3s;
}
.header__text {
  font-size: 2rem;
  line-height: 1;
}

@media (min-width: 1024px) {
  .header__logo:hover path {
    fill: var(--main-blue);
  }
  .header__nav-link:hover {
    color: var(--main-blue);
  }
  .header__btn:hover {
    color: var(--main-blue);
  }
}
@media (max-width: 1024px) {
  .header {
    padding: 2rem;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  }
  .header__logo {
    width: 10.8rem;
  }
  .header__burger {
    display: flex;
  }
  .header__nav {
    margin: 0;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .header__nav-content {
    transform: translateX(100%);
    flex-direction: column;
    max-width: 24rem;
    background: var(--white);
    padding: 3rem;
    flex: 1 0 24rem;
    justify-content: space-between;
    align-items: baseline;
    position: absolute;
    top: 100%;
    right: 0;
    height: calc(100vh - 100%);
    transition: transform ease 0.3s;
  }
  .header__nav-background {
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity ease 0.3s;
  }
  .header__nav-wrapper.active .header__nav-content {
    transform: translateX(0);
  }
  .header__nav-wrapper.active .header__nav-background {
    height: calc(100vh - 100%);
    opacity: 1;
    visibility: visible;
  }
}
/* Main article */
.main-article {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main-article__title {
  font-size: 6.4rem;
  line-height: 1.1;
  color: var(--main-black);
}
.main-article__text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--main-black-muted);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.article--black {
  padding-top: 5rem;
  gap: 0;
}
.article--black .article__title {
  color: var(--white);
}
.article--black .article__subtitle {
  color: var(--text-gray-light);
}
.article--black .article__points-order {
  color: var(--white);
}
.article--black .article__points-title {
  color: var(--white);
}
.article--black .article__points-text {
  color: var(--text-gray-light);
}
.article--black .article__card-title {
  color: var(--text-white);
}
.article--black .article__card-title .icon {
  color: var(--icon-gray);
}
.article--black .article__card-text {
  color: var(--text-gray-light);
}
.article__title {
  text-align: center;
  font-size: 3.2rem;
  line-height: 1;
  max-width: 60rem;
  color: var(--black);
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.article__subtitle {
  padding-top: 1.8rem;
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Lato", sans-serif;
  max-width: 60rem;
  text-align: center;
  color: var(--text-gray-light);
}
.article__btn {
  display: flex;
  align-items: center;
  background-color: var(--white);
  color: var(--main-black);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 3rem;
  border-radius: 0.8rem;
  transition: opacity ease 0.2s;
}
.article__btn-wrapper {
  padding-top: 1.8rem;
  display: flex;
  justify-content: center;
}
.article__btn:hover {
  opacity: 0.8;
}
.article__btn:target {
  opacity: 0.8;
}
.article__btn:focus {
  opacity: 0.8;
}
.article__points {
  padding-top: 3.8rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  max-width: 114rem;
}
.article__points-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article__points-img {
  position: relative;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article__points-img img {
  position: absolute;
  width: 100%;
}
.article__points-order {
  z-index: 10;
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-family: "Lato", sans-serif;
}
.article__points-title {
  font-size: 2rem;
  line-height: 2.8rem;
  font-family: "Lato", sans-serif;
}
.article__points-text {
  padding-top: 1.2rem;
  font-size: 1.4rem;
  text-align: center;
}
.article__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}
.article__item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.article__item-title {
  font-size: 2rem;
  line-height: 1.3;
  color: var(--main-black);
}
.article__item-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--text-gray);
}
.article__grid-1-2 {
  max-width: 114rem;
  width: 100%;
  display: grid;
  grid-template-columns: 40rem 1fr;
  justify-content: space-between;
  align-items: end;
}
.article__grid-1-2 .article__title {
  text-align: start;
}
.article__grid-1-2 .article__subtitle {
  text-align: end;
}
.article__grid--2 {
  max-width: 114rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  justify-content: space-between;
  align-items: end;
}
.article__grid--2 .article__title {
  text-align: start;
}
.article__grid--2 .article__subtitle {
  text-align: end;
}
.article__grid--2--x {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column dense;
  gap: 6rem 8rem;
}
.article__card {
  margin-top: 3.8rem;
  max-width: 124rem;
  width: 100%;
  padding: 6rem;
  border-radius: 1.6rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.031372549);
  background: url(/src/img/card-decor.png) no-repeat right bottom/30%;
}
.article__card-title {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 2rem;
  line-height: 1.3;
}
.article__card-text {
  font-size: 1.6rem;
  line-height: 1.6;
  padding-top: 2rem;
}
.article__details-list {
  padding-top: 4.2rem;
  width: 100%;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.article__details-item {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  border-radius: 0.6rem;
  border: 0.1rem solid #E4E8EE;
}
.article__details-head {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: var(--main-black);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  gap: 0.8rem;
}
.article__details-head .icon-arrow {
  font-size: 1.2rem;
  color: var(--icon-gray);
  transform: rotate(180deg);
  transition: transform ease 0.2s;
  display: flex;
  align-items: center;
}
.article__details-head::marker {
  content: "";
}
.article__details-body {
  padding-top: 1.4rem;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #9CA3AF;
}
.article__details:open .article__details-head .icon-arrow {
  transform: rotate(0);
}
.article__table {
  margin-top: 4.2rem;
  max-width: 120rem;
  width: 100%;
  border: 0.1rem solid #E4E8EE;
  border-radius: 1.6rem;
  overflow: hidden;
}
.article__table-rows {
  display: grid;
  grid-template-rows: repeat(6, auto);
}
.article__table-rows-item:nth-child(odd) {
  background-color: rgba(248, 248, 248, 0.5019607843);
}
.article__table-rows-item:first-child {
  background-color: #F0F0F0;
}
.article__table-rows-item:nth-child(n+2) {
  border-top: 0.1rem solid #E4E8EE;
}
.article__table-cols {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.article__table-cols-item {
  padding: 2rem;
  color: #5A6778;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 1;
}
.article__table-cols-item:first-child {
  color: var(--main-black);
}
.article__table-cols-item:nth-child(n+2) {
  border-left: 0.1rem solid #E4E8EE;
  text-align: end;
}
.article__cards {
  display: none;
  padding-top: 2.4rem;
  width: 100%;
}
.article__cards-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.article__cards-item {
  border-radius: 2.4rem;
  overflow: hidden;
  border: 0.1rem solid #E4E8EE;
}
.article__cards-head {
  padding: 1.8rem;
  border-bottom: 0.1rem solid #E4E8EE;
  background-color: #F0F0F0;
}
.article__cards-text_bold {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--main-black);
}
.article__cards-text {
  color: #868B90;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.article__cards-body {
  padding: 1.4rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.article__cards-row {
  display: flex;
  gap: 2.4rem;
  align-items: baseline;
}
.article__cards-col {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.article__hint {
  padding-top: 2.6rem;
  font-size: 1.4rem;
  color: #9CA3AF;
  text-align: center;
}

@media (max-width: 1024px) {
  .main-article__title {
    font-size: 3.6rem;
  }
  .main-article__text {
    font-size: 1.4rem;
  }
  .article {
    padding-bottom: 0;
  }
  .article__title {
    font-size: 2.4rem;
  }
  .article__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
  }
  .article__table {
    display: none;
  }
  .article__cards {
    display: block;
  }
  .article__item-title {
    font-size: 1.8rem;
  }
  .article__item-text {
    font-size: 1.5rem;
  }
  .article__points {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 34rem;
    padding-top: 5.2rem;
  }
  .article__subtitle {
    padding-top: 1rem;
    font-size: 1.4rem;
    max-width: 40rem;
  }
  .article--black {
    padding-top: 4rem;
  }
  .article__grid-1-2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .article__grid-1-2 .article__subtitle {
    text-align: start;
  }
  .article__grid--2 {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 1.4rem;
  }
  .article__grid--2--x {
    display: flex;
    flex-direction: column;
    gap: 6rem;
  }
  .article__card {
    margin-top: 2.4rem;
    padding: 2.4rem;
  }
  .article__hint {
    font-size: 1.4rem;
  }
}
/* Ordered cards */
.ordered-cards {
  margin-top: 3.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.6rem;
  overflow: hidden;
  gap: 0.2rem;
}
.ordered-cards_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 5rem;
  gap: 1.6rem;
  border-radius: 1.6rem;
  overflow: hidden;
}
.ordered-cards__item {
  padding: 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--white);
}
.ordered-cards__head {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.ordered-cards__head-number {
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  color: var(--text-gray);
}
.ordered-cards__head-line {
  display: block;
  max-width: 32rem;
  width: 100%;
  height: 0.1rem;
  background-color: var(--text-gray);
  opacity: 0.3;
}
.ordered-cards__head-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--bg-gray);
  border-radius: 50%;
  flex: 0 0 3.6rem;
  font-size: 1.5rem;
}
.ordered-cards__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.ordered-cards__title {
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: "Lato", sans-serif;
  color: var(--main-black);
  display: flex;
  justify-content: space-between;
}
.ordered-cards__text {
  font-size: 1.5rem;
  line-height: 2.4rem;
  font-family: "Lato", sans-serif;
  color: var(--text-gray);
}
.ordered-cards__tag {
  display: inline-block;
  padding: 0.5rem 1.2rem;
  color: var(--text-gray);
  font-size: 1.2rem;
  line-height: 1.8rem;
  background-color: var(--bg-gray);
  border-radius: 2rem;
  white-space: nowrap;
}
.ordered-cards__tag-list {
  display: flex;
  gap: 0.8rem;
}

@media (max-width: 1024px) {
  .ordered-cards {
    margin-top: 1.8rem;
    width: calc(100% + 4rem);
    display: flex;
    flex-direction: column;
  }
  .ordered-cards__item {
    padding: 2rem;
    gap: 1.8rem;
  }
  .ordered-cards__body {
    gap: 1.4rem;
  }
  .ordered-cards__head-line {
    max-width: 20rem;
  }
  .ordered-cards_row {
    display: flex;
    flex-direction: column;
    margin-top: 1.8rem;
    width: calc(100% + 4rem);
    gap: 0.2rem;
  }
}
/* Card */
.card {
  padding: 1.4rem 1.6rem;
  background-color: var(--bg-gray);
  border-radius: 1.6rem;
  display: flex;
}
.card__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.card_row {
  gap: 1rem;
  align-items: center;
}
.card_col {
  flex-direction: column;
}
.card__icon {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex: 0 0 3.2rem;
  background-color: #EEF1F6;
}
.card__icon_blue {
  background-color: #EFF6FF;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.card__info .card__title {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--main-black);
}
.card__info .card__title-dot_green {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #22C55E;
}
.card__info .card__title-dot_blue {
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: var(--main-blue);
}
.card__info .card__text {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: var(--text-gray);
}
.card__info_big {
  padding-top: 2rem;
}
.card__info_big .card__title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  line-height: 4.2rem;
  color: var(--main-black);
}
.card__info_big .card__text {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 2rem;
  color: var(--text-gray);
}
.card__tag {
  padding: 0.4rem 1rem;
  border-radius: 2rem;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
}
.card__tag_blue {
  background-color: #EFF6FF;
  color: var(--main-blue);
}
.card__week {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid #E4E8EE;
}
.card__day {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  color: #8A97A8;
}
.card__day-dot {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--main-blue);
  border-radius: 50%;
}
.card__day:nth-child(n+6) {
  color: #E4E8EE;
}
.card__day:nth-child(n+6) .card__day-dot {
  background-color: #E4E8EE;
}

/* Examples */
.examples__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
}
.examples__item {
  border-radius: 2.4rem;
  border: 0.1rem solid #E4E8EE;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.examples__item:nth-child(1) {
  grid-column: 1/3;
}
.examples__item:last-child {
  grid-column: 2/4;
}
.examples__desktop {
  width: 100%;
  padding: 1.4rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  background-color: #F3F3F3;
  border-bottom: 0.1rem solid #E4E8EE;
}
.examples__desktop-dots {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.examples__desktop-dot {
  display: block;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: #E4E8EE;
}
.examples__desktop-url {
  display: flex;
  align-items: center;
  padding: 0 1.2rem;
  color: #8A97A8;
  font-size: 1.1rem;
  line-height: 1.6rem;
  background-color: var(--white);
  flex: 1 1 auto;
  border-radius: 0.6rem;
  height: 2.2rem;
}
.examples__img {
  padding: 3.2rem 3.2rem 0;
}
.examples__img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.examples__bottom {
  width: 100%;
  justify-content: space-between;
  padding: 0 3.2rem 3.2rem;
  display: flex;
  align-items: center;
}
.examples__info {
  padding-top: 1.6rem;
  margin-top: auto;
}
.examples__title {
  color: var(--main-black);
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.examples__text {
  color: var(--text-gray);
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.examples__tag {
  background-color: #EFF6FF;
  color: var(--main-blue);
  border-radius: 2rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
  height: 2.6rem;
}

@media (max-width: 1024px) {
  .examples__list {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
  .examples__img {
    padding: 1.6rem 1.6rem 0;
  }
  .examples__img img {
    height: auto;
    width: 100%;
  }
  .examples__bottom {
    padding: 0 1.6rem 1.6rem;
  }
  .examples__title {
    font-size: 1.2rem;
  }
  .examples__tag {
    font-size: 0.8rem;
    padding: 0 0.8rem;
  }
  .examples__desktop {
    padding: 0.8rem 1.2rem;
    gap: 0.8rem;
  }
  .examples__desktop-url {
    font-size: 0.6rem;
    height: 1.2rem;
    border-radius: 0.4rem;
  }
  .examples__desktop-dot {
    width: 0.6rem;
    height: 0.6rem;
  }
}
/* Form */
.form {
  padding-top: 5.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  max-width: 50rem;
  width: 100%;
}
.form__input {
  border: 0.1rem solid rgba(255, 255, 255, 0.0705882353);
  border-radius: 0.6rem;
  color: #fff;
  padding: 1.2rem 1.6rem;
  width: 100%;
  font-size: 1.5rem;
  line-height: 2.2rem;
  transition: border-color ease 0.2s;
}
.form__input:active {
  border-color: var(--text-gray);
}
.form__input:focus {
  border-color: var(--text-gray);
}
.form__input:target {
  border-color: var(--text-gray);
}
.form__btn-wrapper {
  padding-top: 5.8rem;
  display: flex;
  justify-content: center;
}
.form__btn {
  display: flex;
  align-items: center;
  background-color: var(--white);
  color: var(--main-black);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  padding: 1.5rem 3rem;
  border-radius: 0.8rem;
  transition: opacity ease 0.2s;
}
.form__btn:hover {
  opacity: 0.8;
}
.form__btn:target {
  opacity: 0.8;
}
.form__btn:focus {
  opacity: 0.8;
}

@media (max-width: 1024px) {
  .form__input {
    font-size: 1.1rem;
  }
  .form__btn-wrapper {
    padding-top: 3.2rem;
  }
}
/* Footer */
.footer {
  background-color: #F0F0F0;
}
.footer .footer__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 144rem;
  padding: 3rem 6rem;
  margin: 0 auto;
}
.footer .footer__link {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--main-black);
  transition: all ease 0.2s;
}
.footer .footer__link:hover {
  color: var(--main-blue);
}
.footer .footer-icon svg {
  height: 2.4rem;
}
.footer .footer_text {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media (max-width: 1024px) {
  .footer .footer__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    align-items: baseline;
  }
}/*# sourceMappingURL=style.css.map */
